/* Main container styling */
#mainDiv {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

/* subcontainer styling H4 and P tags */
.SoFtextsub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: .7em;
}

.SoFtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
