/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /* just for late night dev */
  /* background-color: black;
  color: #ffffff; */

}

div {
  display: flex;
}

/* Global Component Styles */
.pageTitle {
  font-size: 2em;
  line-height: 1.3em;
}

mat-card {
  margin: .5em;
}

mat-card-title {
  padding: .3em;
  padding-top: .6em;
  padding-bottom: .4em;
}


hr {
  display: flex;
  margin: 16px 0 10px 0;
  border: 0;
  justify-content: center;
  align-items: center;
}

hr:before {
  content: "\2022 \2022 \2022";
  font-size: 50px;
  color: #87ceeb;

}
