body {
  overflow: hidden;

}

div {
  flex-direction: column;
  overflow: hidden;
  margin-top: 1rem;
}

mat-card-title {

  margin: 1em;
  font-size: 3.5em;
  line-height: 1.1em;
}

/* sytles for the Picture and Text */
#jumbotron {
  flex-direction: row;
  margin: 1em;
  align-items: center;
}

mat-card-title {
  width: 90%;
  margin: auto;
  text-align: center;
}

#verse {
  font-size: 1.5em;
  line-height: 1.1em;
  padding: 1em;

  font-style: italic;
}

img {
  width: 50%;
  height: auto;
}

@media (max-width:800px) {
  #verse {
    font-size: 1.1em;
    line-height: 1.4em;
  }

  mat-card-title {
    font-size: 1.5em;
    line-height: 1.4em;
  }

  img {
    width: 100%;
    height: auto;
  }

  #jumbotron {
    flex-direction: column;
  }
}
